@import '../variables.css';

:root {
	--brand-color: #61dafb;
}
.root{
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding-top: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.indexmv {
	position: relative;
	width: 33.33333%;
	height: 33.33333vw;
	max-height: 379px;
	background-size: cover;
	background-position: 50%;
	box-sizing: border-box;
	background-origin: content-box;
	background-repeat: no-repeat;
	padding: 0 2px;
	margin-bottom: 50px;
	float: left;
}
.newIcon {
	box-sizing: border-box;
	width: 100%;
	padding-left: 10px;
	line-height: 60px;
	font-size: 16px;
	font-weight: 700;
	overflow: hidden;
	float: left;
	color: #ff6600;
}
.newIcon img{
    margin-right: 1em;
}
.mvcover {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	cursor: pointer;
	box-shadow: 1px 1px 3px #999;
}
.userInfoGroup {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: -50px;
	background-color: rgba(0, 0, 0,0.5);
	z-index: 1;
}
.go{
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 40px;
}
/*.iconGroup {
	position: absolute;
	bottom: 65px;
	padding-left: 8px;
}
.iconGroup img {
	float: left;
	margin-right: 7px;
	height: 12px;
	padding-top: 4px;
	line-height: 20px;
}
.iconGroup span {
	line-height: 20px;
	position: relative;
	height: 100%;
	margin-right: 7px;
	font-weight: 700;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	max-width: 100px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.smallInfoGroup{
	float: left;
	min-height: 20px;
}
.smallInfoGroup:first-child{
	margin-right: 15px;
}*/
.pvname{
	color: #fff;
	line-height: 30px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 5px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user{
    width: 100%;
    height: 20px;
    line-height: 10px;
    text-align: center;
}
.user span{
  	color: rgb(153, 153, 153);
    font-size: 12px;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}